@model AcSwE.Models.Teacher

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="row alert alert-info">
    <div class="col-md-4 text-center alert alert-success">
        <img class="card-img-top" src="~/Content/img/teacher/@Html.DisplayFor(model => model.img)" alt="Card image cap" width="50%">
    </div>
    <div class="col-md-8">
        <div class="align-self-center ">
            <h4>@Html.DisplayNameFor(model => model.title) : @Html.DisplayFor(model => model.title)</h4>
        </div>
        <div class="align-self-end ">
            <h4>@Html.DisplayNameFor(model => model.firstName) : @Html.DisplayFor(model => model.firstName)</h4>
            <h4>@Html.DisplayNameFor(model => model.lastName) : @Html.DisplayFor(model => model.lastName)</h4>
            <h4>@Html.DisplayNameFor(model => model.FullName) : @Html.DisplayFor(model => model.FullName)</h4>
            <h4>@Html.DisplayNameFor(model => model.status) : @Html.DisplayFor(model => model.status)</h4>
            <h4>Count of Joiner activity : @ViewBag.count</h4>      
         </div>
    </div>
</div>


<div class="row alert alert-info">
    <div class="col-md-12">
        <h4>Joiner</h4>
    </div>
    <table class="table">
        <tr>
            <th>
                <h3>No.</h3>
            </th>

            <th>
                <h3>Activities Name</h3>
            </th>

            <th>
                <h3>Start</h3>
            </th>
            <th>
                <h3>End</h3>
            </th>
            <th></th>
        </tr>

        @foreach (var a in ViewBag.T_AC)
        {
            <tr>
                <td>
                    <h5>@a.id</h5>
                </td>

                <td>
                    <h5>@a.activityname</h5>
                </td>

                <td>
                    <h5>@a.startDate</h5>
                </td>
                <td>
                    <h5>@a.endDate</h5>
                </td>
                @if (@Session["user"] != null)
                {
                    <td>                        
                        @Html.ActionLink("Details", "CallDetails", new { id = @a.id})                       
                    </td>
                }

            </tr>
        }
    </table>
</div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back", "Index")
    </p>
