@model AcSwE.Models.Teacher

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="row alert alert-info">
    <div class="col-md-4 text-center alert alert-success">
        <img class="card-img-top" src="~/Content/img/teacher/@Html.DisplayFor(model => model.img)" alt="Card image cap" width="52%">
    </div>
    <div class="col-md-8  alert alert-success">
        <div class="align-self-center ">
            <h4>@Html.DisplayNameFor(model => model.title) : @Html.DisplayFor(model => model.title)</h4>
        </div>
        <div class="align-self-end ">
            <h4>@Html.DisplayNameFor(model => model.firstName) : @Html.DisplayFor(model => model.firstName)</h4>
            <h4>@Html.DisplayNameFor(model => model.lastName) : @Html.DisplayFor(model => model.lastName)</h4>
            <h4>@Html.DisplayNameFor(model => model.FullName) : @Html.DisplayFor(model => model.FullName)</h4>
            <h4>@Html.DisplayNameFor(model => model.status) : @Html.DisplayFor(model => model.status)</h4>
        </div>
    </div>
</div>


    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back", "Index")
    </p>
