
<ul class="nav navbar-nav navbar-right">
    @if (@Session["user"] == null)
    {
        <li>@Html.ActionLink("Log in", "Login", "Home")</li>
    }
    else
    {

        @*<li>@Html.ActionLink("Hi " + @Session["user"], "Details", "Teacher", new { id = Session["id"] })</li>*@
        <li><a href="~/Admin/Manager/Index">Manage</a></li>
        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
        
    }
</ul>