@model AcSwE.Models.Activity

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<h2>@Session["username"]</h2>
@Html.ActionLink("Login", "Login")*@

<div class="container">

    <header class="jumbotron my-4">
        <h1 class="display-3">@if (@Session["user"] != null) { @Session["username"] } Welcome!</h1>
        <p class="lead">Activities Software Engineering Manager. This web site in Walailak University for 
            School of Informatics Major's Software Engineering (SwE)</p>
        <a href="~/Home/login" class="btn btn-primary btn-lg">Login to Manage!</a>
    </header>

    <h2>New activity</h2>
    <div class="row">

        @for (int i = 0; i < 3; i++)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/Content/img/activity/@ViewBag.New[i].img" alt="Acivity new @i" width="192" height="200">
                    <div class="caption">
                        <h3>@ViewBag.New[i].activityname</h3>
                        <p>By: @ViewBag.TEA[i].FullName</p>
                        <p>Start: @ViewBag.New[i].startDate || End: @ViewBag.New[i].endDate</p>                        
                        <p><a href="~/Activity/Details/@ViewBag.New[i].id" class="btn btn-primary" role="button">View</a> 
                        @if (@Session["user"] != null)
                        {
                            <a href="~/Admin/Activitie/Edit/@ViewBag.New[i].id" class="btn btn-primary" role="button">Edit</a>
                        }</p>
                    </div>
                </div>
            </div>
        }
        
    </div>

    <br>
    <h2>TOP 3 Student join activity</h2>
    <div class="row">
        @for (int i = 0; i < 3; i++)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/Content/img/activity/@ViewBag.COUNT[i].img" alt="Acivity new @i" width="192" height="200">
                    <div class="caption">
                        <h3>@ViewBag.COUNT[i].activityname</h3>
                        <p>By: @ViewBag.TEA[i].FullName</p>
                        <p>Student join: @ViewBag.COUNT[i].countStd</p>
                        <p>Start: @ViewBag.COUNT[i].startDate || End: @ViewBag.COUNT[i].endDate</p>
                        <p>
                            <a href="~/Activity/Details/@ViewBag.New[i].id" class="btn btn-primary" role="button">View</a>@if (@Session["user"] != null)
                            {
                                <a href="~/Admin/Activitie/Edit/@ViewBag.New[i].id" class="btn btn-primary" role="button">Edit</a>
                            }
                        </p>
                    </div>
                </div>
            </div>
        }

</div>