@model AcSwE.Models.Join

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Activity</h4>
        <div class="form-group">
            @Html.LabelFor(model => model.idStd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.idStd,
         new SelectList(Model.StudentList, "id", "firstName" ,"lastName"), "Select", new { @class = "form-control" })
            </div>
            @ViewBag.suss
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add Std" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
}

<div>
    @Html.ActionLink("Finish to create Activity", "Index")
    @Html.ActionLink("Import excel", "Add_Std_withImport")
</div>
