@model AcSwE.Models.Activity

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="row alert alert-info">
    <div class="text-center">
        <img src="~/Content/img/teacher/@Html.DisplayFor(model => model.img)" class="img-fluid rounded" alt="Responsive image">
    </div>
</div>

<div class="row alert alert-info">
    <div class="col-md-12">
        <h4>@Html.DisplayNameFor(model => model.activityname) : @Html.DisplayFor(model => model.activityname)</h4>
    </div>    
</div>

<div class="row alert alert-info">
    <div class="col-md-4">
        <h4>@Html.DisplayNameFor(model => model.location) : @Html.DisplayFor(model => model.location)</h4>
    </div>
    <div class="col-md-4">
        <h4>@Html.DisplayNameFor(model => model.locationPoint) : @Html.DisplayFor(model => model.locationPoint)</h4>
    </div>
    <div class="col-md-4">
        <h4>@Html.DisplayNameFor(model => model.room) : @Html.DisplayFor(model => model.room)</h4>
    </div>
</div>

<div class="row alert alert-info">
    <div class="col-md-3">
        <h4>@Html.DisplayNameFor(model => model.yearStd) : @Html.DisplayFor(model => model.yearStd)</h4>
    </div>
    <div class="col-md-3">
        <h4>@Html.DisplayNameFor(model => model.yearStudy) : @Html.DisplayFor(model => model.yearStudy)</h4>
    </div>
    <div class="col-md-3">
        <h4>@Html.DisplayNameFor(model => model.startDate) : @Html.DisplayFor(model => model.startDate)</h4>
    </div>
    <div class="col-md-3" >
        <h4>@Html.DisplayNameFor(model => model.endDate) : @Html.DisplayFor(model => model.endDate)</h4>
    </div>
</div>

<div class="row alert alert-info">
    <div class="col-md-12">
        <h4>@Html.DisplayNameFor(model => model.teacherInActivity) : @Html.DisplayFor(model => model.teacherInActivity)</h4>
    </div>
</div>

<div class="row alert alert-info">
    <div class="col-md-12">
        <h4>@Html.DisplayNameFor(model => model.detail) : @Html.DisplayFor(model => model.detail)</h4>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
